<div class="content">
  <h2 class="page-title">Log In</h2>
  <div class="clear"></div>
  <%= form_for(:session, :url => sessions_path) do |f| %>
    <div class="section off-white">
      <h2 class="border-header">User Information</h2>
      <p>
        <%= f.label :email, :class => "block" %>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password, :class => "block" %>
        <%= f.password_field :password %>
      </p>
      <p>New user? <%= link_to "Register now!", register_path %></p>
    </div>
    <%= f.submit "Log In", :class => "button large inline-block" %>
  <% end %>
</div>
