<%= form_for @user_profile do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <% Tag.where(:tag_type => "category").each do |tag| %>
      <%= check_box_tag :tag_ids, tag.id, @user_profile.tags.include?(tag), :name => 'user_profile[tag_ids][]' %>
      <%= label_tag :tag_ids, tag.name.titleize %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.radio_button :available, "1" %>
    <%= f.label :available_1, "I am available" %>
    <%= f.radio_button :available, "0" %>
    <%= f.label :available_0, "I am not available" %>
  </div>
  <div class="actions">
    <%= f.submit "Next Step: Match me up with a project" %>
  </div>
<% end %>
