<div class="content show-profile">
  <div class="forward right">
    <%= link_to "Edit", edit_profile_path, :class => "forward right" %>
  </div>
  <div class="segment-controller">
    <%= link_to "Profile Info", profile_path, :class => "segment active" %>
    <%= link_to "Projects", projects_profile_path, :class => "segment" %>
    <div class="clear"></div>
  </div>
  <ul>
    <p>
      <div class="image">
        <% if @user_profile.avatar? %>
            <%= link_to(image_tag(@user_profile.avatar.url(:normal)), @user_profile.avatar.url) %>
        <% end %>
      </div>
    </p>
    <li><strong>Name: </strong><%= @user_profile.name %></li>
    <li><strong>Phone #: </strong><%= @user_profile.phone %></li>
    <li><strong>Current Employer: </strong><%= @user_profile.current_employer %></li>
    <li><strong>Job Title: </strong><%= @user_profile.job_title %></li>
    <li><strong>Degrees: </strong><%= @user_profile.degrees %></li>
    <li><strong>Experience: </strong><%= @user_profile.experience %></li>
    <li><strong>Website: </strong><%= @user_profile.website %></li>
    <li><strong>Causes: </strong><%= @user_profile.tags.where(:tag_type => "cause").map(&:name).join(", ") %></li>
    <li><strong>Skills: </strong><%= @user_profile.tags.where(:tag_type => "skill").map(&:name).join(", ") %></li>
    <% if @user_profile.resume? %>
      <li><%= link_to "View Resume", @user_profile.resume.url, :target => "_blank" %></li>
    <% end %>
  </ul>
</div>
