<div class="content">
  <%= link_to "Edit", edit_profile_path, :class => "forward right" %>
  <div class="segment-controller">
    <%= link_to "Profile Info", profile_path, :class => "segment" %>
    <%= link_to "Projects", projects_profile_path, :class => "segment" %>
  </div>
  <ul>
    <li><%= @user_profile.name %></li>
    <li><%= @user_profile.phone %></li>
    <li><%= @user_profile.current_employer %></li>
    <li><%= @user_profile.job_title %></li>
    <li><%= @user_profile.degrees %></li>
    <li><%= @user_profile.experience %></li>
    <li><%= @user_profile.website %></li>
    <% if @user_profile.image? %>
    <li><%= image_tag @user_profile.image.url %></li>
      <br />
    <li><%= link_to @user_profile.image.url, @user_profile.image.url %></li>
    <% end %>
    <li>Causes: <%= @user_profile.tags.where(:tag_type => "cause").map(&:name).join(", ") %></li>
    <li>Skills: <%= @user_profile.tags.where(:tag_type => "skill").map(&:name).join(", ") %></li>
  </ul>
</div>
