<%= form_for @project do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <% tags_by_type("Skill").each do |tag| %>
      <%= check_box_tag "project[tag_ids][]", tag.id, @project.tags.include?(tag), { :id => "#{tag.tag_type.downcase}_#{tag.id}" } %>
      <%= label_tag "#{tag.tag_type.downcase}_#{tag.id}", tag.name.titleize %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label :goals %><br />
    <%= f.text_area :goals %>
  </div>
  <div class="actions">
    <%= f.submit "Create Your Project" %>
  </div>
<% end %>

