<% form_action = @project.new_record? ? "create" : "update" %>
<%= form_for @project, :url => { :controller => "projects", :action => form_action } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :organization_id %>
  <div class="section off-white">
  	<h2 class="border-header">Project Information</h2>
    <div class="group last">
      <% tags_by_type("Skill").each do |tag| %>
        <%= check_box_tag "project[tag_ids][]", tag.id, @project.tags.include?(tag), { :id => "#{tag.tag_type.downcase}_#{tag.id}" } %>
        <%= label_tag "#{tag.tag_type.downcase}_#{tag.id}", tag.name.titleize %>
      <% end %>
    </div>
    <div class="clear"></div>
    <% unless @project.new_record? %>
      <%= f.label :status, :class => "block" %>
      <%= f.select(:status, [['Pending', 'pending'],['Open', 'open'], ['In Progress', 'in_progress'], ['Completed', 'completed'], ['Cancelled', 'cancelled']]) %>
    <% end %>
    <p>
      <%= f.label :name, :class => "block" %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :details, :class => "block" %>
      <%= f.text_area :details, :rows => 8 %>
    </p>
    <p>
      <%= f.label :goals, :class => "block" %>
      <%= f.text_area :goals, :rows => 8 %>
    </p>
  </div>
  <% submit_text = @project.new_record? ? "Create Your Project" : "Update Project" %>
  <%= f.submit submit_text, :class => "button large inline-block" %>
<% end %>
