      <div class="off-white section project">
        <h2 class="border-header"><%= link_to project.name, organization_project_path(project.organization, project) %></h2>
        <div class="column">
          <h3 class="title">Organization</h3>
          <div class="definition"><%= project.organization.name %></div>
          <% if !project.organization.tags.empty? %>
          <h3 class="title">Organization Causes</h3>
          <div class="definition"><%= project.organization.tags.map(&:name).join(", ") %></div>
          <% end %>
          <% if !project.tags.empty? %>
          <h3 class="title">Project Type</h3>
          <div class="definition"><%= project.tags.map(&:name).join(", ") %></div>
          <% end %>
        </div>
        <div class="column">
          <h3 class="title">Status</h3>
          <div class="definition"><%= project.status.titleize %></div>
          <h3 class="title">Contact Person</h3>
          <div class="definition"><%= project.organization.contact %></div>
          <h3 class="title">Contact Email</h3>
          <div class="definition"><%= project.organization.contact_email %></div>
        </div>
        <div class="clear"></div>
        <h3 class="title">Project Goals</h3>
        <p><%= project.goals %></p>
        <h3 class="title">Project Details</h3>
        <p><%= project.details %></p>
        <% if project.organization.owner == current_user %>
        <%= link_to "Edit Project", edit_organization_project_path(project.organization, project) %>
        <% end %>
        <div class="clear"></div>
      </div>
