<div class="page-header">
  <h1>Organizations</h1>
</div>

<div class="row-fluid">
  <div class="well span5">
    <%= form_tag('', :method => :get, :class => "") do %>
      <div class="row-fluid">
        <div class="span4">
          <h3>Filter By Type</h3>
          <% tags_by_type("Skill").each do |tag| %>
            <label class="checkbox">
              <%= check_box_tag "skill_tag_ids[]", tag.id, params[:skill_tag_ids].to_s.include?(tag.id.to_s), { :id => "#{tag.tag_type.downcase}_#{tag.id}" } %> <%= "#{tag.name.titleize}" %>
            </label>
          <% end %>
        </div>
        <div class="span4">
          <h3>Filter By Cause</h3>
          <% tags_by_type("Cause").each do |tag| %>
            <label class="checkbox">
              <%= check_box_tag "skill_tag_ids[]", tag.id, params[:skill_tag_ids].to_s.include?(tag.id.to_s), { :id => "#{tag.tag_type.downcase}_#{tag.id}" } %> <%= "#{tag.name.titleize}" %>
            </label>
          <% end %>
        </div>
      </div>
      <div class="row-fluid">
        <%= submit_tag "Apply", :class => "btn btn-primary btn-large pull-right" %>
      </div>
    <% end %>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th> Orgranization Name</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td>
          <%= organization.name %>
          <div class="pull-right">
            <a class="btn btn-micro"><i class="icon-pencil"></i>&nbsp;Edit</a>
            <a class="btn btn-danger btn-micro"><i class="icon-remove icon-white"></i></a>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table
