<%= form_for @organization do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <% tags_by_type("Cause").each do |tag| %>
      <%= check_box_tag "organization[tag_ids][]", tag.id, @organization.tags.include?(tag), { :id => "#{tag.tag_type.downcase}_#{tag.id}" } %>
      <%= label_tag "#{tag.tag_type.downcase}_#{tag.id}", tag.name.titleize %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name, "Name of the organization/non-profit" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact, "Name of the contact person" %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :contact_email, "Email address of the contact person" %><br />
    <%= f.text_field :contact_email %>
  </div>
  <div class="field">
    <%= f.label :website, "Organization website" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :phone, "Phone number" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :mission, "Mission statement" %><br />
    <%= f.text_area :mission %>
  </div>
  <div class="field">
    <%= f.label :details, "Organization details" %><br />
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit "Next Step: Create a project" %>
  </div>
<% end %>
