<%= form_for @organization do |f| %>
  <%= f.error_messages %>
<style>
form .group input[type="radio"], form .group input[type="checkbox"] {
    display: inline;
    float: none;
    margin-bottom: 10px;
    margin-right: 5px;
}
form .group label {
    display: inline;
    float: none;
    margin-bottom: 10px;
}
</style>

  <div class="section off-white">
  	<h2 class="border-header">Contact Information</h2>
    <p>
      <%= f.label :name, "Name of the organization/non-profit", :class => "block" %>
      <%= f.text_field :name %>
      </p>
    <p>
      <%= f.label :contact, "Name of the contact person", :class => "block" %>
      <%= f.text_field :contact %>
    </p>
    <p>
      <%= f.label :contact_email, "Email address of the contact person", :class => "block" %>
      <%= f.text_field :contact_email %>
    </p>
    <p>
      <%= f.label :phone, "Phone number", :class => "block" %>
      <%= f.text_field :phone %>
    </p>
  </div>
  <div class="section off-white">
  	<h2 class="border-header">Organization Details</h2>
    <div class="group last">
      <ul>
      <% tags_by_type("Cause").each do |tag| %>
        <li><%= check_box_tag "organization[tag_ids][]", tag.id, @organization.tags.include?(tag), { :id => "#{tag.tag_type.downcase}_#{tag.id}" } %>
        <%= label_tag "#{tag.tag_type.downcase}_#{tag.id}", tag.name.titleize %>
      </li>
      <% end %>
    </ul>
    </div>
    <div class="clear"></div>
    <p>
      <%= f.label :website, "Organization website", :class => "block" %>
      <%= f.text_field :website, :placeholder => "http://" %>
    </p>
    <p>
      <%= f.label :mission, "Mission statement", :class => "block" %>
      <%= f.text_area :mission, :rows => 8 %>
    </p>
    <p>
      <%= f.label :details, "Organization details", :class => "block" %>
      <%= f.text_area :details, :rows => 8 %>
    </p>
    <div class="clear"></div>
  </div>
    <div class="section off-white">
      <h2 class="border-header">Logo</h2>
      <%= f.file_field :logo %>
      <p>
        <div class="image">
          <% if @organization.logo? %>
            <%= image_tag @organization.logo.url(:normal) %>
          <% end %>
        </div>
      </p>
    <div class="clear"></div>
    </div>
  <% submit_text = @organization.new_record? ? "Next Step: Create a project" : "Update Organization" %>
  <%= f.submit submit_text, :class => "button large inline-block" %>
<% end %>
