<div class="content">
  <% if @organization.owner == current_user %>
    <div class="forward right">
      <%= link_to "Edit Organization Profile", edit_organization_path(@organization) %>
    </div>
    <div class="segment-controller">
      <%= link_to "Profile Info", @organization, :class => "segment active" %>
      <%= link_to "Projects", projects_user_organization_path(current_user, @organization), :class => "segment" %>
      <div class="clear"></div>
    </div>
  <% end %>
  <h1>
    <%= @organization.name %>
  </h1>
  <div class="causes">
    <ul>
      <% @organization.tags.each do |tag| %>
      <li><%= tag.name %></li>
      <% end %>
    </ul>
  </div>
  <ul>
    <li><strong>Contact: </strong><%= @organization.contact %></li>
    <li><strong>Contact Email: </strong><%= @organization.contact_email %></li>
    <li><strong>Website: </strong><%= @organization.website %></li>
    <li><strong>Phone: </strong><%= @organization.phone %></li>
    <li><strong>Mission: </strong><%= @organization.mission %></li>
    <li><strong>Details: </strong><%= @organization.details %></li>
  </ul>
  <% if @organization.projects %>
    <% @organization.projects.each do |project| %>
      <div class="off-white section project">
        <h2 class="border-header"><%= link_to project.name, organization_project_path(@organization, project) %></h2>
        <div class="image"></div>
        <div class="column">
          <h3 class="title">Organization</h3>
          <div class="definition"><%= project.organization.name %></div>
          <% if !project.tags.empty? %>
          <h3 class="title">Project Type</h3>
          <div class="definition"><%= project.tags.map(&:name).join(", ") %></div>
          <% end %>
        </div>
        <div class="column">
          <h3 class="title">Status</h3>
          <div class="definition"><%= project.status.titleize %></div>
          <h3 class="title">Contact Person</h3>
          <div class="definition"><%= project.organization.contact %></div>
          <h3 class="title">Contact Email</h3>
          <div class="definition"><%= project.organization.contact_email %></div>
        </div>
        <div class="clear"></div>
        <h3 class="title">Project Goals</h3>
        <p><%= project.goals %></p>
        <h3 class="title">Project Details</h3>
        <p><%= project.details %></p>
        <% if @organization.owner == current_user %>
        <%= link_to "Edit Project", edit_organization_project_path(@organization, project) %>
        <% end %>
        <div class="clear"></div>
      </div>
    <% end %>
  <% end %>
</div>
