<div class="content">
  <% if @organization.owner == current_user %>
    <div class="forward right">
      <%= link_to "Edit Organization Profile", edit_organization_path(@organization) %>
    </div>
    <div class="segment-controller">
      <%= link_to "Profile Info", @organization, :class => "segment active" %>
      <%= link_to "Projects", projects_user_organization_path(current_user, @organization), :class => "segment" %>
      <div class="clear"></div>
    </div>
  <% end %>
  <h1>
    <%= @organization.name %>
  </h1>
  <ul>
    <li><strong>Causes: </strong><%= @organization.tags.where(:tag_type => "cause").map(&:name).join(", ") %></li>
    <li><strong>Contact: </strong><%= @organization.contact %></li>
    <li><strong>Contact Email: </strong><%= @organization.contact_email %></li>
    <li><strong>Website: </strong><%= @organization.website %></li>
    <li><strong>Phone: </strong><%= @organization.phone %></li>
    <li><strong>Mission: </strong><%= @organization.mission %></li>
    <li><strong>Details: </strong><%= @organization.details %></li>
  </ul>
  </br>
  <% if @organization.projects %>
    <%= render @organization.projects %>
  <% end %>
</div>
