
		<div id="footer">
			<ul class="navigation">
				<li>
					<ul>
						<li class="featured"><a href="volunteers">Volunteers</a></li>
            <li><%= link_to "Register/Login", login_path %></li>
		        <li><%= link_to "Read Testimonials", "/volunteer_testimonials" %></li>
		        <li><%= link_to "Projects", "/projects" %></li>
					</ul>
				</li>
				<li>
					<ul>
		        <li class="featured"><%= link_to "Organizations", "/organizations" %></li>
            <li><%= link_to "Register/Login", login_path %></li>
		        <li><%= link_to "Read Testimonials", "/non-profit_testimonials" %></li>
					</ul>
				</li>
				<li>
					<ul>
		        <li><%= link_to "How It Works", "/how-it-works" %></li>
		        <li><%= link_to "About Us", "/about-us" %></li>
						<li><a href="#">Blog</a></li>
		        <li><%= link_to "Privacy Policy", "/privacy-policy" %></li>
					</ul>
				</li>
		    <li class="last"><%= link_to "Projects", "/projects" %></li>
			</ul>
			<div class="clear"></div>
		</div>
