<div id="header">
  <a id="logo" href="#">Austin Pro Bono</a>
	<ul class="navigation">
		<li><a href="home">Home</a></li>
		<li><%= link_to "Projects", "/projects" %></li>
		<li><a href="volunteers">Volunteers</a></li>
		<li><%= link_to "Organizations", "/organizations" %></li>
		<li class="last"><a href="howitworks">How It Works</a></li>
	</ul>
  <div class="login">
    <% if current_user %>
      <strong><%= current_user.email %></strong> | 
      <% if current_user.is_organization %>
        <%= link_to "My Organizations", user_organizations_path(current_user) %> |
      <% end %>
      <%= link_to "My Profile", profile_path %> | 
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Log In", login_path %>
      |
      <%= link_to "Register", register_path %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
