<!DOCTYPE html>
<html>
<head>
  <title>Apb2</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "http://cdn.sublimevideo.net/js/3s7oes9q.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render "layouts/header" %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= yield %>

</body>
</html>
